/* GENERAL
------------------------------------------------------------------------------------------------- */
.screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
header {
  display: flex;
  height: $headerHeight;
  min-height: 50px;
  background-color: $salmon;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  button.search {
    width: 35px;
    height: 35px;
    margin: 0 10px;
  }

  button.menu {
    background-color: $light-salmon;
    height: 100%;
  }
}

main {
  position: relative;
  display: flex;
  height: 100% - $headerHeight;
  background-color: $light-aqua;
  overflow: hidden;
  flex-direction: column;

  &.fullMain {
    height: 100%;
  }

  .branding {
    margin-bottom: 10px;
    width: 50%;
    margin: 0 auto;
    min-height: 100px;
    background-color: #fff;
    margin-bottom: 10px;

    .logo {
      height: 80px;
      width: 80px;
      background: url("../images/logo_pink.svg");
      background-size: cover;
      margin: 15px auto;

      #Layer_2 {
        color: $salmon;
      }
    }

    h2 {
      text-align: center;
      color: $salmon;
      margin-bottom: 10px;
      font-size: 3rem;
    }
  }

  form {
    width: 90%;
    margin: 15px auto;
    min-height: 100px;
    background-color: #fff;
    padding-top: 20px;

    .inputGroup {
      width: 75%;
      margin: 15px auto;
      display: flex;
      flex-direction: column;

      label {
        color: $salmon;
        text-transform: uppercase;
        font-size: 1.21rem;
      }
      input {
        border: none;
        border-bottom: 1px solid #000;
        padding: 10px 0;
      }
    }

    button.login {
      background-color: $cherry;
      width: 100%;
      color: #fff;
      font-weight: bold;
      padding: 20px 0;
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
      margin-top: 20px;
      cursor: pointer;
    }
  }

  nav {
    width: 60%;
    background: $light-salmon;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60%;
    transition: left 0.15s;
    transition-timing-function: ease-out;
    &.is-active{
      left: 0;
    }
    ul {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        width: 100%;
        margin-bottom: 10px;
        color: #fff;
        font-size: 1.8rem;
        text-align: center;
        padding: 10px 0;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 1px solid $salmon;
        &:first-of-type {
          margin-top: 10px;
        }
      }
    }
  }

  .search {
    position: absolute;
    top: -9%;
    left: 0;
    right: 0;
    height: 8%;
    min-height: 50px;
    background-color: $light-salmon;
    transition: top 0.15s;
    transition-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    &.is-active{
      top: 0;
    }

    input {
      width: 80%;
      font-size: 1.6rem;
      padding: 5px;
      border-radius: 4px;
    }
  }
}
