/* GENERAL
------------------------------------------------------------------------------------------------- */
.screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
header {
  display: flex;
  height: $headerHeight;
  min-height: 50px;
  background-color: $salmon;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  button.search {
    @include normalizeButton();
    width: 35px;
    height: 35px;
    margin: 0 10px;
  }

  button.menu {
    @include normalizeButton();
    background-color: $light-salmon;
    height: 100%;
  }
}

main {
  position: relative;
  display: flex;
  height: 100% - $headerHeight;
  background-color: red;
  overflow: hidden;

  nav {
    width: 60%;
    background: honeydew;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60%;
    transition: left 0.15s;
    transition-timing-function: ease-out;
    &.is-active{
      left: 0;
    }
    ul {
      width: 100%;
      li {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .search {
    position: absolute;
    top: -9%;
    left: 0;
    right: 0;
    height: 8%;
    min-height: 50px;
    background-color: pink;
    transition: top 0.15s;
    transition-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    &.is-active{
      top: 0;
    }

    input {
      width: 80%;
      font-size: 1.6rem;
      padding: 5px;
      border-radius: 4px;
    }
  }
}
