/* VARIABLES
------------------------------------------------------------------------------------------------- */

$headerHeight: 8%;
$footerHeight: 10%;

// Colours
$salmon: #eb6a78;
$light-salmon: #ed7986;
$cherry: #f15e63;
$light-aqua: #b4e0d9;
$grey: #555;
$green: #32A04A;
