/* VARIABLES
------------------------------------------------------------------------------------------------- */

$headerHeight: 8%;
$footerHeight: 10%;

// Colours
$salmon: #00ff0c;
$light-salmon: #03443c;
$cherry: #fffa00;
$light-aqua: #ffffff;
$grey: #ff0000;
$green: #000000;
